!!!
.content
  = render 'shared/left-content'
  .main-content
    .show-content__top
      .show-content__top__username
        = link_to "#{current_user.name} さんのマイページ", user_path(current_user), class: "mypage-link"
    .show-content__news
      .show-content__news__image
        = image_tag(@articles.image, class: "show-news-image")
      .show-content__news__title
        = @articles.title.truncate(25)
      .show-content__news__info
        .show-content__news__info__sitename
          = @articles.sitename
        .show-content__news__info__time
          = @articles.updated_at.strftime("%Y/%m/%d %H:%M")
      .show-content__news__link
        = link_to "続きを読む", @articles.url, class: "news-link-button"
    .show-content__comment
      .show-content__comment__postbox
        .show-content__comment__postbox__image
          - if current_user.image.blank?
            %i.fa.fa-user-circle.fa-3x.news_userimage
          - else
            = image_tag(current_user.image, class: "show-comment-image")
        .show-content__comment__postbox__form
        .show-content__comment__postbox__pick
          pick
      - @articles.picks.each do |pick|
        .show-content__comment__textarea
          .show-content__comment__textarea__userinfo
            .show-content__comment__textarea__userinfo__image
              - if pick.user.image.blank?
                %i.fa.fa-user-circle.fa-2x.news_userimage
              - else
                = image_tag(pick.user.image, class: "show-comment-image")
            .show-content__comment__textarea__userinfo__cap
              .show-content__comment__textarea__userinfo__cap__name
                = pick.user.name
              .show-content__comment__textarea__userinfo__cap__company
                = pick.user.company
              .show-content__comment__textarea__userinfo__cap__comment
                = pick.text
