!!!
.left-content
  .left-content__top
    .left-content__top__main
      - if user_signed_in?
        .left-content__top__main__image
          .left-content__top__main__image__data
            = image_tag('profile.jpg', size: '48x48')
        .left-content__top__main__name
          Tomoya Ishida
      - else
        .left-content__top__main__image
          .left-content__top__main__image__data
        .left-content__top__main__name
          .left-content__top__main__name__signup
          = link_to "アカウントを作成する", new_user_registration_path, id: "signup-left"
    .left-content__top__bottom
      .left-content__top__bottom__follow
        .left-content__top__bottom__follow__count
          437
        .left-content__top__bottom__follow__caption
          フォロー
      .left-content__top__bottom__follower
        .left-content__top__bottom__follower__count
          502
        .left-content__top__bottom__follower__caption
          フォロワー
  .left-content__main
    .left-content__main__top
      .left-content__main__top__title
        タイムライン
      .left-content__main__top__icon
        ＞
  .left-content__info
    .left-content__info__main__timeline
      .left-content__info__main__timeline__border
      .left-content__info__main__timeline__main
        .left-content__info__main__timeline__main__info
          .left-content__info__main__timeline__main__info__image
            = image_tag('profile.jpg', size: '28x28')
          .left-content__info__main__timeline__main__info__data
            .left-content__info__main__timeline__main__info__data__name
              石田 友哉
            .left-content__info__main__timeline__main__info__data__time
              4時間前
        .left-content__info__main__timeline__main__comment
          NewsPicksを作成中です。
        .left-content__info__main__timeline__main__link
          Facebookがミッション変更「世界のつながりをより密に」
        .left-content__info__main__timeline__main__pick
          をpickしました。
    .left-content__info__main__timeline
      .left-content__info__main__timeline__border
      .left-content__info__main__timeline__main
        .left-content__info__main__timeline__main__info
          .left-content__info__main__timeline__main__info__image
            = image_tag('profile.jpg', size: '28x28')
          .left-content__info__main__timeline__main__info__data
            .left-content__info__main__timeline__main__info__data__name
              石田 友哉
            .left-content__info__main__timeline__main__info__data__time
              8時間前
        .left-content__info__main__timeline__main__comment
          NewsPicksを作成中です。
        .left-content__info__main__timeline__main__link
          「メルカリ」ウェブ版で個人情報流出、最大で5万4180人に影響
        .left-content__info__main__timeline__main__pick
          をpickしました。
    .left-content__info__main__timeline
      .left-content__info__main__timeline__border
      .left-content__info__main__timeline__main
        .left-content__info__main__timeline__main__info
          .left-content__info__main__timeline__main__info__image
            = image_tag('profile.jpg', size: '28x28')
          .left-content__info__main__timeline__main__info__data
            .left-content__info__main__timeline__main__info__data__name
              石田 友哉
            .left-content__info__main__timeline__main__info__data__time
              13時間前
        .left-content__info__main__timeline__main__comment
          NewsPicksを作成中です。
        .left-content__info__main__timeline__main__link
          一部のUber社員がTravis Kalanickの復帰を要求する嘆願書を提出
        .left-content__info__main__timeline__main__pick
          をpickしました。
