!!!
.left-content
  .left-content__top
    .left-content__top__main
      - if user_signed_in?
        .left-content__top__main__image
          .left-content__top__main__image__data
            - if current_user.image.blank?
              %i.fa.fa-user-circle-o.fa-3x.left_image
            - else
              = image_tag(current_user.image, class: "user_image_left")
        .left-content__top__main__name
          = link_to current_user.name, user_path(current_user), id: 'mypage-left'
      - else
        .left-content__top__main__image
          = link_to new_user_registration_path do
            %i.fa.fa-address-card-o.fa-3x.current_user_image_left
        .left-content__top__main__name
          .left-content__top__main__name__signup
            = link_to "アカウントを作成する", new_user_registration_path, id: "signup-left"
    .left-content__top__bottom
      .left-content__top__bottom__follow
        .left-content__top__bottom__follow__count
          - if user_signed_in?
            = current_user.followings.count
          - else
            -
        .left-content__top__bottom__follow__caption
          フォロー
      .left-content__top__bottom__follower
        .left-content__top__bottom__follower__count
          - if user_signed_in?
            = current_user.followers.count
          - else
            -
        .left-content__top__bottom__follower__caption
          フォロワー
  .left-content__main
    .left-content__main__top
      .left-content__main__top__title
        タイムライン
      .left-content__main__top__icon
        ＞
  -if user_signed_in?
    .left-content__info
      - current_user.followings.each do |user|
        - user.picks.order("updated_at DESC").each do |pick|
          .left-content__info__main__timeline
            .left-content__info__main__timeline__border
            .left-content__info__main__timeline__main
              .left-content__info__main__timeline__main__info
                .left-content__info__main__timeline__main__info__image
                  - if user.image.blank?
                    %i.fa.fa-user-circle-o.fa-2x.left_image
                  - else
                    = image_tag(user.image, class: "follower_image_left")
                .left-content__info__main__timeline__main__info__data
                  .left-content__info__main__timeline__main__info__data__name
                    = link_to user.name, user_path(user.id), class: "user_news_link"
                  .left-content__info__main__timeline__main__info__data__time
                    = pick.updated_at.strftime("%Y/%m/%d")
              .left-content__info__main__timeline__main__comment
                - if pick.text.blank?
                  まだメッセージはありません
                - else
                  = pick.text.truncate(25)
              .left-content__info__main__timeline__main__link
                = link_to pick.article.title.truncate(26), article_path(pick.article.id), class: "follow-news-link"
              .left-content__info__main__timeline__main__pick
                をpickしました。
