!!!
.main-content__left
  - @articles.each do |article|
    .main-content__left__news
      .main-content__left__news__top
        = image_tag(article.image, class: "news_image")
        .main-content__left__news__top__picks
          .main-content__left__news__top__picks__count
            = article.picks.length
          .main-content__left__news__top__picks__caption
            Picks
      .main-content__left__news__titlebox
        .main-content__left__news__titlebox__title
          = link_to article.title.truncate(26), article_path(article.id), class: "show-news-link"
      - article.picks.last(1).each do |pick|
        .main-content__left__news__data
          .main-content__left__news__data__image
            - if pick.user.image.blank?
              %i.fa.fa-user-circle.fa-2x.news_userimage
            - else
              = image_tag(pick.user.image, class: "user_image_content")
          .main-content__left__news__data__info
            .main-content__left__news__data__info__name
              = link_to pick.user.name, user_path(pick.user.id), class: "user_news_link"
            .main-content__left__news__data__info__company
              = pick.user.company
        .main-content__left__news__commentbox
          .main-content__left__news__commentbox__comment
            = pickfront(pick)
        .main-content__left__news__bottom
          .main-content__left__news__bottom__sitename
            = article.sitename.truncate(20)
          .main-content__left__news__bottom__time
            = article.updated_at.strftime("%Y/%m/%d %H:%M")
  .paginate
    = paginate(@articles)
