!!!
.mypage__main
  .mypage__main__contents-area
    - @picks.each do |pick|
      .main-content__left__news
        .main-content__left__news__top
          = image_tag(pick.article.image, class: "news_image")
        .main-content__left__news__titlebox
          .main-content__left__news__titlebox__title
            = link_to pick.article.title.truncate(26), article_path(pick.article.id), class: "show-news-link"
        .main-content__left__news__data
          .main-content__left__news__data__image
            - if pick.user.image.blank?
              %i.fa.fa-user-circle.fa-2x.news_userimage
            - else
              = image_tag(pick.user.image, class: "user_image_content")
          .main-content__left__news__data__info
            .main-content__left__news__data__info__name
              = pick.user.name
            .main-content__left__news__data__info__company
              = pick.user.company
        .main-content__left__news__commentbox
          .main-content__left__news__commentbox__comment
            = pickinfo(pick)
        .main-content__left__news__bottom
          .main-content__left__news__bottom__sitename
            = pick.article.sitename
          .main-content__left__news__bottom__time
            = pick.article.updated_at.strftime("%Y/%m/%d %H:%M")
