!!!
.mypage__main
  .mypage__main__contents-area
    - @reads.each do |read|
      .main-content__left__news
        .main-content__left__news__top
          = image_tag(read.article.image, class: "news_image")
        .main-content__left__news__titlebox
          .main-content__left__news__titlebox__title
            = link_to read.article.title.truncate(26), article_path(read.article.id), class: "show-news-link"
        .main-content__left__news__data.read-description
          = read.article.description.truncate(100)
        .main-content__left__news__bottom
          .main-content__left__news__bottom__sitename
            = read.article.sitename
          .main-content__left__news__bottom__time
            = read.article.updated_at.strftime("%Y/%m/%d %H:%M")
