!!!
.pickarea
  .pickarea__content
    .pickarea__content__image
      = image_tag(@article.image, class: "news_image")
    .pickarea__content__info
      .pickarea__content__info__title
        = @article.title.truncate(40)
      .pickarea__content__info__description
        = @article.description.truncate(98)
    = form_for [@article, @pick] do |f| 
      .pickarea__content__comment
        .pickarea__content__comment__image
          = image_tag(current_user.image, class: "user_image_left")
        .pickarea__content__comment__text
          = f.text_field :text, placeholder: "コメントを書く（任意）", class: "comment-field"
      .pickarea__content__button
        .pickarea__content__button__pick
          = f.submit "Pick", class: "pick-button"
