!!!
.content
  = render 'shared/left-content'
  .main-content
    .show-content__top
      .show-content__top__username
        = link_to "#{current_user.name} さんのマイページ", user_path(current_user), class: "mypage-link"
    .show-content__news
      .show-content__news__image
        = image_tag(@picks.article.image, class: "show-news-image")
      .show-content__news__title
        = @picks.article.title.truncate(27)
      .show-content__news__info
        .show-content__news__info__sitename
          = @picks.article.sitename
        .show-content__news__info__time
          = @picks.article.updated_at.strftime("%Y/%m/%d %H:%M")
      .show-content__news__link
        = link_to "続きを読む", @picks.article.url, class: "news-link-button"
    .show-content__comment
      .show-content__comment__postbox
        .show-content__comment__postbox__image
          = image_tag(current_user.image, class: "user_image_left")
        .show-content__comment__postbox__form
        .show-content__comment__postbox__pick
          pick
      .show-content__comment__textarea
        .show-content__comment__textarea__userinfo
          .show-content__comment__textarea__userinfo__image
            = image_tag(current_user.image, class: "show-comment-image")
          .show-content__comment__textarea__userinfo__cap
            .show-content__comment__textarea__userinfo__cap__name
              Tomoya Ishida
            .show-content__comment__textarea__userinfo__cap__company
              tech
        .show-content__comment__textarea__comment
          - @picks.comments.each do |comment|
            = comment.body
