!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Newspicks
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  %body
  %header
    .header__bar
      %h1
        %a{href: '/'} NewsPicks
    - if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, method: :delete
      %a.post{:href => "/tweets/new"} 投稿する
    - else
      .userinfo
        = link_to "アカウント登録", new_user_registration_path, id: 'signup'
        = link_to "ログイン", new_user_session_path, id: 'login'
    = yield
